// ul {
//   list-style-type: none;
  
// }
labe{
  display:block;
}

.footer-section{
  max-width: 1176px;
  margin: 0 auto;
  display:block;
  background: var(--dark-green);
  height: 534px;
}
// .footer-container{
//   margin:0px;
//   padding: 0px;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
// }
.logo{
  display: block;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-color: var(--white);
  margin-bottom: 40px;

}


.footer-container {
  display: flex;
  width: 100% ;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: inline-flex;
  white-space: nowrap;
  justify-content: space-between;
  padding: 104px 132px 32px;
}
.contact-list{
  list-style: none;
  display: flex;
  color: var(--white);
  flex-direction: column;
  padding-bottom: 20px;
  text-align: justify;
  list-style: none;
}
.contact-number, .contact-address{
  color: var(--white);
}

.footer-item{
  display: flex;
  flex-direction: row;
  gap: 280px;
}
.page-link{
  text-align:justify;
  color: var(--white);
  // font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.36px;
  text-transform: uppercase;

}
.about-us, .catalog, .sale{
  color: var(--white);
}
.about-us:hover{
  color: var(--navy-blue);
}
.catalog:hover{
  color: var(--navy-blue);
}
.sale:hover{
  color: var(--navy-blue);
}
.page-link-item{
  margin-bottom: 18px;
}
.footer-list-links-item{
  fill: currentColor;
  margin: 0;
  // margin-right: 345px;
}
.footer-list-facebook{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: var(--iris);
  border-radius:22px;
  color: var(--white);
}

.footer-list-instagram{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: var(--iris);
  border-radius:22px;
  color: var(--white);
}
.footer-list-youtube{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: var(--iris);
  border-radius:22px;
  color: var(--white);
}
.social-media{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.footer-description{
  display: flex;
  flex-direction: row;
  padding-top: 174px;
}
 .privacy{
  margin-left: 350px;
 }
 .terms{
  margin-left: 18px;
 }
 .copyright, .privacy, .terms{
  color: var(--white);
 }
