@import './common';
@import './catalog';
@import './header';
@import './about-us';
@import './footer';


:root {
    --black: #141414;
    --light-black: #202020;
    --white: #fff;
    --dark-green: #1E2827;
    --figcaption: rgba(255, 255, 255, 0.50);
    --dark-green:  #1E2827;
    --navy-blue: #464766;
    --ocean: #404bbf;
    --grey: #2e2f42;
}

body {
    font-family: 'epilogue', sans-serif;
}

.list {
    list-style: none;
    padding: 0;
}

h3,
p {
    margin: 0px;
}


img {
    max-width: 100%;
    height: auto;
}

































































@import './new-watches';